@import url('./root.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none!important;
    list-style-type: none;
    box-sizing: border-box;
}

.ff_poppins {
    font-family: 'Poppins', sans-serif;
    ;
}

.w_100 {
    width: 100%;
}

.gap_30 {
    gap: 30px;
}

.bg_image {
    background-image: url('../image/1_sec_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg_color {
    background-color: var(--yellow);
}

.z_index_2 {
    z-index: 2;
}

nav ul li a:hover {
    -webkit-text-stroke: 1px #9003E5;
}

nav ul li a {
    position: relative;
    color: #9003E5;
    font-size: var(--fs-sm);
}

nav ul li a::before {
    content: '';
    position: absolute;
    background: #9003E5;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 50%;
    transition: all 300ms linear;
}

ul li a:hover::before {
    width: 100%;
    left: 0%;
}

ul li a {
    position: relative;
    color: white;
    padding-top: 15px;
}

ul li {
    padding-top: 15px;
}

ul li a::before {
    content: '';
    position: absolute;
    background: white;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 50%;
    transition: all 300ms linear;
}

ul li a:hover::before {
    width: 100%;
    left: 0%;
}

ul {
    padding-left: 0!important;
}


/*-----------------------------section2-----------------------------*/

.px_0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.py_48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.pl_48 {
    padding-left: 30px;
}

.pl_18 {
    padding-left: 18%;
}

.pt_48 {
    padding-top: 48px;
}

.py_12 {
    padding-bottom: 12px;
    padding-top: 12px;
}

.pr_15 {
    padding-right: 15px;
}

.pr_35 {
    padding-right: 41px;
}

.pb_24 {
    padding-bottom: 24px;
}

.py_0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.gap_10 {
    gap: 10px;
}

.gap_24 {
    gap: 24px;
}

.mb_0 {
    margin-bottom: 0;
}

.mb_40 {
    margin-bottom: 40px;
}

.mx_0 {
    margin-left: 0!important;
    margin-right: 0!important;
}

.mx_auto {
    margin-left: auto!important;
    margin-right: auto !important;
}

.border_bottom {
    border-bottom: 1px dotted #8b8b8b;
}


/*---------------------------section3---------------------------*/

.circle {
    width: 30px;
    height: 30px;
    background-color: #DCDCDC;
    border-radius: 50%;
    text-align: center;
}

.img_set {
    border-radius: 50%;
}

.h3 {
    font-size: larger;
    color: black;
}

.img_hover:hover .h3 {
    background-color: #D2DA60;
}

.news {
    background: var(--linear, linear-gradient(90deg, #9104E5 0%, #F93B96 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    max-width: 80%;
    height: 60px;
    padding: 20px 40px;
    border: 2px solid transparent;
    outline: none;
}


/*-------------------------section5-------------------------*/

.mt_48 {
    margin-top: 48px!important;
}

.pl_15 {
    padding-left: 15%!important;
}

.pr_12 {
    padding-right: 15%!important;
}

.pb_48 {
    padding-bottom: 48px!important;
}


/*--------------------------section6--------------------------*/

.my_row {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: -12px;
    padding-right: -12px;
    background-color: var(--gray);
}

.img_row {
    position: absolute;
    bottom: -199%;
    right: 0%;
}

.btn-primary {
    --bs-btn-color: #fff!important;
    --bs-btn-bg: var(--blue-dark)!important;
    --bs-btn-border-color: 2px solid transparent !important;
}

.btn {
    --bs-btn-padding-x: 28px !important;
    --bs-btn-padding-y: 22px!important;
}

.grid_image {
    height: 100%;
    border-radius: 23px;
    transition: scale 400ms;
}

.grid_image:hover {
    scale: 105%;
}

.button {
    padding: 11px 34px;
    border-radius: 4px;
    background: var(--linear, linear-gradient(90deg, #9104E5 0%, #F93B96 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 4px solid;
    border-image-source: linear-gradient(90deg, #9104E5 0%, #F93B96 100%);
    border-image-slice: 1;
}

.img_set3 {
    max-width: 500px;
    max-height: 500px;
}


/*---------------section---------------*/

.pt_24 {
    padding-top: 24px;
}

.card_8 {
    max-width: 370px;
    border-radius: 24px;
    color: var(--white);
    padding: 0px 28px 0px 28px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: auto!important;
    margin-right: auto!important;
    background-color: var(--blue-dark);
}

.img_card {
    position: absolute;
    background-color: var(--white);
    padding: 17px 3px;
    max-width: 480px;
    bottom: 3%;
    left: 5%;
}

.img_card1 {
    position: absolute;
    background-color: var(--white);
    padding: 17px 1px;
    max-width: 348px;
    bottom: 3%;
    left: 5%;
}


/*--------------section9--------------*/

.pl_40 {
    padding-left: 40%;
}

.bg_bluedark {
    background-color: var(--blue-dark);
}

.transform {
    transform: translatey(-10%);
}

.card_img {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    transition: opacity 0.9s;
}

.card_img2:hover .card_img {
    opacity: 1;
}

.sofa {
    width: 100%;
    transition: transform 1s;
}

.sofa:hover {
    transform: translateZ(20px);
}

.card_img2 {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.card_img2 img {
    display: block;
    height: auto;
    max-width: 100%;
}

.my_container {
    max-width: 1320px;
    border-radius: 45px;
    background: #F0F0F0;
    height: 394px;
}


/*-------------footer----------------------------*/

.imgset {
    margin-top: 20px;
    background-color: var(--white);
    padding: 13px 37px;
}

.pt_15 {
    padding-top: 15px;
}

.sec_2_red {
    position: absolute;
    top: -10%;
    right: 0%;
    z-index: -2;
}

.sec_4_color {
    position: absolute;
    top: 2%;
    left: 0%;
    z-index: -4;
}

.sec_4_mixup {
    position: absolute;
    right: 0%;
    bottom: 5%;
    z-index: -2;
}

.sec_2_red_img {
    position: absolute;
    bottom: -25%;
    left: 0%;
    z-index: -2;
}

.sec_6yel {
    position: absolute;
    top: 13%;
    left: 14%;
}

.sec_7_mixup {
    position: absolute;
    top: 21%;
    right: 24%;
}

.sec_8_mix {
    position: absolute;
    top: 13%;
    left: 10%;
}

.sec_mix {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -2;
}

.sec_mixup {
    position: absolute;
    top: -22%;
    right: 0%;
    z-index: -2;
}

.sec_mix_color {
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -2;
}

.sec_img_mixup {
    position: absolute;
    right: 0%;
    top: 36%;
    z-index: -2;
}

.newsletter1 {
    position: absolute;
    left: 0%;
    bottom: 20%;
    z-index: -2;
}

.newsletter_img {
    position: absolute;
    right: -4%;
    bottom: -15%;
    z-index: -2;
}


/*-----------------------media_quary-----------------------*/

dl,
ol,
ul {
    margin-bottom: 0 !important;
}

.icon_box {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 1%;
    right: 4%;
    z-index: 3;
}

.icon_box span {
    width: 100%;
    height: 4px;
    display: flex;
    background-color: var(--blue-dark);
    margin-top: 10px;
}

@media (max-width:1200px) {
    .my_nav {
        flex-direction: column;
        position: fixed;
        top: -100%;
        width: 97%;
        height: 110vh;
        left: 0%;
        padding-left: 0;
        justify-content: center;
        background-color: var(--yellow);
        transform: translate(-50% -50%);
        transition: all linear 400ms;
        z-index: 2;
    }
    input[type="checkbox"]:checked~ul {
        top: 0;
    }
    label {
        z-index: 1;
    }
}

@media (min-width:576px) {
    .sm_border_right_none {
        border-right: none;
    }
    .pt_sm_0 {
        padding-top: 0!important;
    }
}

@media (min-width:768px) {
    .md_border_right {
        border-right: 1px dotted #8b8b8b;
    }
    .md_border_bottom {
        border-bottom: 1px dotted #8b8b8b;
    }
    .md_border_bottom_none {
        border-bottom: none!important;
    }
    .pt_md_0 {
        padding-top: 0;
    }
    .pl_sm_48 {
        padding-left: 30px;
    }
    .pt_sm_0 {
        padding-top: 0!important;
    }
    .w_md_100 {
        width: 70%;
    }
    .img_card1 {
        position: absolute;
        background-color: var(--white);
        padding: 17px 37px;
        max-width: 300px;
        bottom: 3%;
        left: 5%;
    }
    .red_line8 {
        position: absolute;
        top: 44%;
        right: -47%;
        z-index: -2;
    }
    .red_line9 {
        position: absolute;
        top: 43%;
        left: -53%;
        z-index: -1;
    }
    .red_line13 {
        position: absolute;
        top: 43%;
        right: -53%;
        z-index: -2;
    }
    .red_line14 {
        position: absolute;
        top: 44%;
        left: -47%;
        z-index: -2;
    }
    .red_line11 {
        position: absolute;
        top: 51%;
        right: 40%;
        z-index: -1;
    }
    .red_line12 {
        position: absolute;
        top: 53%;
        left: 36%;
        z-index: -1;
    }
}

@media (min-width:992px) {
    .lg_border_right {
        border-right: 1px dotted #8b8b8b;
    }
    .lg_border_bottom {
        border-bottom: 1px dotted #8b8b8b;
    }
    .lg_border_right_none {
        border-right: none;
    }
    .lg_border_bottom_none {
        border-bottom: none;
    }
    .d-lg-none {
        display: none;
    }
    .pt_lg_0 {
        padding-top: 0;
    }
    .img_card1 {
        position: absolute;
        background-color: var(--white);
        padding: 17px 22px;
        max-width: 260px;
        bottom: 3%;
        left: 5%;
    }
    .pr_lg_0 {
        padding-right: 0%!important;
    }
    .pl_lg_0 {
        padding-left: 0!important;
    }
    .red_line {
        position: absolute;
        top: 47%;
        left: 24%;
        z-index: -1;
    }
    .red_line1 {
        position: absolute;
        top: 0%;
        left: 0%;
    }
    .red_line4 {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 0;
    }
    .red_line5 {
        position: absolute;
        top: 42%;
        right: 38%;
        z-index: -1;
    }
}

@media (min-width:1200px) {
    .pt_44 {
        padding: 48px;
    }
    .img_card1 {
        position: absolute;
        background-color: var(--white);
        padding: 17px 1px;
        margin-bottom: 0!important;
        max-width: 348px;
        bottom: 3%;
        left: 5%;
    }
    .img_set_9 {
        position: absolute;
        bottom: -18%;
        right: -16%;
        z-index: 1;
    }
    .img_set_10 {
        position: absolute;
        bottom: -19%;
        right: -13%;
        z-index: 1;
    }
    .text_set {
        position: absolute;
        bottom: -39%;
        right: 7%;
    }
    .text_set1 {
        position: absolute;
        bottom: -39%;
        right: 7%;
    }
    .vh_xl_100 {
        height: 100vh;
    }
    .pl_xl_40 {
        padding-left: 40%;
    }
    .pt_xl_0 {
        padding-top: 0;
    }
    .pl_xl_0 {
        padding-left: 0%!important;
    }
    .pb_xl_0 {
        padding-bottom: 0;
    }
    .pl_xl_15 {
        padding-left: 15%!important;
    }
    .pr_xl_12 {
        padding-right: 15%!important;
    }
    .Request_heading {
        max-width: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .Request_heading1 {
        max-width: 254px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .Request_heading2 {
        max-width: 200px;
        text-align: center;
        margin-right: auto;
    }
    .red_line {
        position: absolute;
        top: 47%;
        left: 24%;
        z-index: -1;
    }
    .red_line1 {
        position: absolute;
        top: 37%;
        left: -18%;
        z-index: -1;
    }
    .red_line2 {
        position: absolute;
        top: 47%;
        right: -21%;
        z-index: -1;
    }
    .red_line3 {
        position: absolute;
        top: 31%;
        right: 39%;
        z-index: -1;
    }
    .red_line4 {
        position: absolute;
        top: 45%;
        left: -65%;
        z-index: -1;
    }
    .red_line5 {
        position: absolute;
        top: 42%;
        right: 38%;
        z-index: -1;
    }
    /*-----------------------section6,7,8-------------*/
    .row1 {
        background-color: var(--gray);
        max-width: 1800px;
        max-height: 365px;
        border-radius: 50px;
        padding: 20px;
        z-index: 2;
    }
    .transformX {
        transform: translateX(4%)
    }
    .transformX_sec_6 {
        transform: translateX(-4%)
    }
    .transform_50_sec_6 {
        transform: translateY(-44%);
    }
    .transform_50 {
        transform: translateY(-44%);
    }
    /*-------------------section11--------------*/
    .position-abs {
        position: absolute;
        top: -23%;
    }
    .input {
        width: 672px;
        height: 60px;
        padding: 20px 40px;
        border: 2px solid transparent;
        outline: none;
    }
}